Source: ros-groovy-flann
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake,python-dev,python-numpy,libgtest-dev,libtbb-dev,libboost1.46-all-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-flann
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: FLANN is a library for performing fast approximate nearest neighbor searches in high dimensional spaces. It contains a collection of algorithms we found to work best for nearest neighbor search and a system for automatically choosing the best algorithm and optimum parameters depending on the dataset.
