Source: ros-hydro-flann
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libboost-all-dev, libgtest-dev, libtbb-dev, python-dev, python-numpy, ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-flann
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgtest-dev, libtbb-dev, python-dev, python-numpy, ros-hydro-catkin
Description: FLANN is a library for performing fast approximate nearest neighbor searches in high dimensional spaces. It contains a collection of algorithms we found to work best for nearest neighbor search and a system for automatically choosing the best algorithm and optimum parameters depending on the dataset.
